<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Editors</title>
</head>
<body>
  <header>
    <a class="logo">Курсовая</a>
    <nav id="nav">
      <p><a href="/">Заказы</a></p>
      <p><a href="/editors">Редакторы</a></p>
      <p><a href="/loginPage">Войти</a></p>
      <p><a href="/register">Регистрация</a></p>
    </nav>
  </header>
  
  <main>
    <h1>Заказы</h1>
    
    <table id="orders-table">
      <tr>
        <th>Редактор</th>
        <th>Журнал</th>
        <th>Занят</th>
      </tr>
    </table>
    
  </main>
  
  <script src="/js/editors.js"></script>
  <script src="js/script.js"></script>
</body>
</html>